body {
  color: #cfcfcf;
  background-color: #0f172a;
  font-family: "Roboto", sans-serif;
}

.rotate-icon {
  animation: rotate 0.7s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
